body {
    background-image: url("/Train-Scheduler/assets/images/train2.jpg");
    background-size: cover;
}

.jumbotron {
    text-align: center;
    color:#94ebd8;
    background-color: #00787a;
}

#currentTime {
    color:#94ebd8;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
}

hr.my-2 {
    background-color: black;
}

.card-header {
    text-align: center;
    background-color: #00787a;
    color:#94ebd8;
    font-weight: 600;
}

.container {
    margin-bottom: 32px;
}

.form-control-lg {
    margin-bottom: 15px;
}

label {
    font-weight: 700;
}

button {
    background-color: #00787a;
    color:#94ebd8;
    border-radius: 10px;
    padding: 5px 15px;
}

.table {
    text-align: center;
}