body {
    background-color: white;
}

.jumbotron {
    text-align: center;
    color:#94ebd8;
    background-color: #00787a;
}

hr.my-2 {
    color: black;
}

.card-header {
    text-align: center;
    background-color: #00787a;
    color:#94ebd8;
    font-weight: 600;
}

.container {
    margin-bottom: 32px;
}

.form-control-lg {
    margin-bottom: 15px;
}

label {
    font-weight: 700;
}

button {
    background-color: #00787a;
    color:#94ebd8;
}